.count {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    
      @media(min-width:436px){
        gap: 35px;
      }

    // .count__item

    &__item {
        display: flex;
        // gap: 30px;
        list-style: none;
        
        
    }

    // .count__number

    &__number {
        min-width: 30px;
        font-family: var(--font-family);
        font-weight: 600;
        @include media-adaptiv-font(24, 16);
        line-height: 140%;
        color: #333;
        
        
        
        
    }

    // .count__text

    &__text {
        flex-grow: 1;
        font-family: var(--font-family);
        font-weight: 600;
        @include media-adaptiv-font(24, 16);
        line-height: 140%;
        color: #333;
        margin-left: 40px;
        

    }



		// .count__btn

		&__btn {
            
		}

		// .count__icon

		&__icon {
            width: 32px;
            height: 32px;

            
		}



}